@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;;
}

main {
    background-image: url("../img/fondo.jpg");
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
    color: blueviolet;
}

h2, h3 {
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    color: white;
}

.lista-de-productos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

.card {
    box-shadow: 0 4px 8px 0 black;
    max-width: 300px;
    margin: auto;
    text-align: center;
    margin: 0.5rem;
}

.card > img {
    width: 100%;
    height: 250px;
}

.price {
    color: blueviolet;
    font-size: 22px;
}

.card button {
    border-radius: 1rem;
    outline: 0;
    padding: 12px;
    color: white;
    background-color:blueviolet;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-top: 1rem;
}

.description {
    color: white;
}

/* PRODUCTO */

.card2 {

    box-shadow: 0 4px 8px 0 black;
    margin: auto;
    text-align: center;
    margin: 0.5rem;
}

.imagen-descripcion {
    display: flex;
}

.imagen {
    display: flex;
    border-radius: 1rem;
    width: 50%;
}

.boton-volver {
    display: flex;
    justify-content: center;
}

.descriptionLarge {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    line-height: 3rem;
}

.price-product {
    color: blueviolet;
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: 1rem;
}

.bi-star-fill {
    color: yellow;
}

.volver {
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    outline: 0;
    padding: 12px;
    color: white;
    background-color:blueviolet;
    text-align: center;
    cursor: pointer;
    width: 150px;
    font-size: 18px;
    margin-top: 1rem;
}

footer {
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    padding: 1rem;
    margin-top: 1rem;
}

@media screen and (max-width: 400px) {
    .imagen-descripcion {
        display: flex;
        flex-direction: column;
    }

    .descriptionLarge {
        color: white;
        font-size: 1rem;
        padding: 1rem;
        line-height: 2rem;
    }

    .imagen {
        display: flex;
        border-radius: 1rem;
        width: 100%;
    }
    

}